@font-face {
    font-family: 'Proxima Nova Lt';
    src: url('fonts/subset-ProximaNova-Bold.ttf');
    src: url('fonts/subset-ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/subset-ProximaNova-Light.woff2') format('woff2'),
        url('fonts/subset-ProximaNova-Light.svg') format('woff'),
        url('fonts/subset-ProximaNova-Light.ttf') format('truetype'),
        url('fonts/subset-ProximaNova-Light.svg#ProximaNova-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Proxima Nova Rg';
    src: url('fonts/subset-ProximaNova-Regular.eot');
    src: url('fonts/subset-ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/subset-ProximaNova-Regular.woff2') format('woff2'),
        url('fonts/subset-ProximaNova-Regular.woff') format('woff'),
        url('fonts/subset-ProximaNova-Regular.ttf') format('truetype'),
        url('fonts/subset-ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Proxima Nova B';
    src: url('fonts/subset-ProximaNova-Bold.eot');
    src: url('fonts/subset-ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/subset-ProximaNova-Bold.woff2') format('woff2'),
        url('fonts/subset-ProximaNova-Bold.woff') format('woff'),
        url('fonts/subset-ProximaNova-Bold.ttf') format('truetype'),
        url('fonts/subset-ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    /* font-family: 'Proxima Nova Lt', sans-serif;
    font-weight: 300; */
    font-family: 'Proxima Nova Rg', sans-serif; 
    font-weight: normal; 
    /* font-family: 'Proxima Nova B', sans-serif; 
    font-weight: bold;  */
}
.header_fon {
    background-color: #141233;
    background-image: url('images/football.png');
    background-repeat: no-repeat;
    padding: 54px 141px 110px 138px;
    /* opacity: 0.1; */
}
.header_logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.header_logo--s {
    background-image: url('images/Figura_1_Logo.png');
    width: 189px;
    height: 33px;
}
.header_logo--text {
    color: #ffffff;
    font-size: 14px;
    font-weight: 300;
    line-height: 35px;
    text-transform: uppercase;
    letter-spacing: 0.7px;
}
.header_text--be {

}
.header_text {
    display: flex;
    flex-direction: column;
    color: #ffffff;
    font-size: 30px;
    font-weight: 700;
    /* line-height: 32px; */
    text-transform: uppercase;
    /* letter-spacing: 4.96px; */
    padding: 309px 2px 0px 1px;
}
.header_text--be {
    align-self: flex-start;
    letter-spacing: 4.96px;
}
.header_text--play {
    align-self: flex-end;
    letter-spacing: 4.5px;
}
.header_menu_item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 30px;
    padding-left: 504px;
    list-style: none;
}
.header_menu--link {
    text-decoration: none;
    color: #9071ea;
    font-size: 14px;
    font-weight: 300;
    line-height: 35px;
    text-transform: uppercase;
    letter-spacing: 0.7px;
}
.button_apple {
    background-color: #5e42b0;
    box-shadow: 0 16px 24px #0a0e34;
    padding: 26px 0px 25px 43px;
    border-radius: 38px;
    box-shadow: 0 16px 24px #0a0e34;
    text-decoration: none;
}
.fa-apple::before {
    content: 'f179';
    color: white;
    font-size: 40px;
    display: inline-block;
    vertical-align: middle;
}
.button_dow {
    color: #ffffff;
    font-size: 14px;
    font-weight: 300;
    line-height: 35px;
    text-transform: uppercase;
    letter-spacing: 0.7px;
    margin-left: 29px;
    position: relative;
    bottom: 7px;
}
.button_app {
    color: #ffffff;
    font-family: 'Proxima Nova B', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 35px;
    text-transform: uppercase;
    letter-spacing: 0.7px;
    position: relative;
    top: 7px;
    right: 143px;
}
.fa-google-play::before {
    content: 'f3ab';
    color: white;
    font-size: 40px;
    display: inline-block;
    vertical-align: middle;
}
.header_button {
    padding-top: 181px;
    padding-left: 429px;
}

.container {  
    max-width: 1810px;
    width: 100%;
    padding-left: 15px;
    padding-left: 15px;
    margin: 0 auto;
}